body {
  background-color: #f5f5f5;
  font-family: 'Roboto Condensed', sans-serif;
}

.mainbar {
  background-color: #23a7cf;
  height: 50px;
  border-bottom: 0;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  @include transform(translateZ(0));

  .logo {
    margin: 4px 0 0 30px;
  }

  .now-watching {
    float: right;
    font-size: 25px;
    color: #fff;
    padding: 15px 35px 0 0;
  }
}

.container {
  width: 960px;
  margin: auto;
}

h1 {
  font-size: 30px;
  margin-bottom: 8px;
}

.header-title {
  margin-bottom: 30px;
  font-size: 40px;
}

p {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  line-height: 20px;
}
