body {
  background-color: #000;
}

.mainbar {
  background-color: #23a7cf;
  height: 50px;
  border-bottom: 0;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  @include transform(translateZ(0));

  .logo {
    margin: 4px 0 0 30px;
  }

  .now-watching {
    font-family: 'Roboto Condensed', sans-serif;
    float: right;
    font-size: 25px;
    color: #fff;
    padding: 15px 35px 0 0;
  }
}