
<div class="chat">
  <iframe src="http://localhost:3000" width="250" height="100%" frameBorder="0"></iframe>
</div>
<div class="player">
  <!-- Change size here, for now. I am working on making it responsive -->
  <iframe src="http://www.viki.com/player/82610v"  frameBorder="0"></iframe>
</div>

