<div class="mainbar">
  <%= image_tag("viki-logo.png", :class => "logo") %>
  <h1 class="now-watching">Now watching - <%= @cinema.show.name %></h1>
</div>

<div class="chat">
  <div class="info">
    <div class="chat-wrapper">
      <h1>Viewers</h1>
      <span class="viewers">Aysha</span>
      <span class="viewers">Fadhli</span>
      <span class="viewers">Ethan</span>
      <span class="viewers">Neerav</span>
    </div>
  </div>
  <div class="chatter">
    <p class="viewer-stat">Fadhli joined the room.</p>
    <p class="viewer-stat">Aysha joined the room.</p>
  </div>
</div>
<div class="player">
  <!-- Change size here, for now. I am working on making it responsive -->
  <iframe src="<%= @cinema.show.player_url %>" width="2156" height="1203" frameBorder="0"></iframe>
</div>